:root {
  --color-light-1: #fff;
  --color-light-2: #f5f6fa;
  --color-light-3: #b0b0b0;
  --color-light-4: #999999;
  
  --color-dark-1: #000;
  --color-dark-2: #161314;
  --color-dark-3: #333333;
  
  --border-1: 2px solid var(--color-light-2);
}
