@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import 'mixins.scss';

:root {
  --text-size-1: 1.6rem;
  --text-size-2: 1.3rem;
  --text-size-3: 1.05rem;
}

html {
  $min-width: 320px;
  $max-width: 1880px;
  $min-font: 12px;
  $max-font: 14.5px;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

h1 {
  font-size: var(--text-size-1);
  color: var(--color-dark-1);
}

h2 {
  font-size: var(--text-size-2);
  font-weight: bold;
}

h3 {
  font-size: var(--text-size-3);
  font-weight: normal;
}
