@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import 'mixins.scss';

html {
  $min-width: 320px;
  $max-width: 1880px;
  $min-font: 12px;
  $max-font: 14.5px;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

