@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

